<%= form_for(@grouping) do |f| %>
  <% if @grouping.errors.any? %>
    <% @grouping.errors.full_messages.each do |msg| %>
	  <%= js add_gritter( msg, :title => "Error", :image => :error, :sticky => true ) %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label 'Parent Group' %><br />
	<%= f.select :parent_id, nested_set_options(current_user.root_grouping) {|i| "#{'-' * i.level} #{i.name}" },{},{ :disabled => @root }  %>
  </div>
  <div class="actions">
	<%= f.hidden_field :company_id, :value => current_user.company_id %>
    <%= f.submit %>
  </div>
<% end %>

<div>
	<%= form_tag({ :controller => "groupings", :action => "import_groups" }, {:multipart => true} ) do %>
	
		Upload groups: <%= file_field_tag 'file' %>
		
		<%= submit_tag("Submit List", :confirm => 'Upload list from spreadsheet?') %>
	<% end %>
</div>