<%= simple_form_for @grouping, :validate => true do |f| %>
  <% if @grouping.errors.any? %>
    <% @grouping.errors.full_messages.each do |msg| %>
	  <%= js add_gritter( msg, :title => "Error", :image => :error, :sticky => true ) %>
    <% end %>
  <% end %>
  
  <%= f.input :name %>
  <%= f.input :description, :as => :text %>
  <%= f.input :parent_id, :label => 'Parent group', 
		:collection => nested_set_options(current_user.root_grouping) {|i| "#{' -' * i.level} #{i.name}" }, 
		:required => true, :disabled => @root, :include_blank => false, :input_html => { :class => 'simple_select' } %>
  <%= f.input :company_id, :as => :hidden, :value => current_user.company_id %>
  <%= f.button :submit %>
<% end %>

<div style="padding:5px;">
	<%= form_tag({ :controller => "groupings", :action => "import_groups" }, {:multipart => true} ) do %>
		Upload groups: <%= file_field_tag 'file' %>
		<%= submit_tag("Submit List", :confirm => 'Upload list from spreadsheet?') %>
	<% end %>
</div>