<h2>Listing group assignments</h2>

<div>
	<table id="group_staffing_table">
	 <thead>
	  <tr>
	    <th>Name</th>
		<th>Email</th>
	    <th>Remove</th>
	    
	  </tr>
	 </thead>
	 <tbody>
		<% @users.each do |user| %>
		  <tr>
		    <td><%= user %></td>
		    <td><%= user.email %></td>
		    <td><%= link_to 'Remove?', grouping_user_path(@grouping, user)+'/remove' , :confirm => 'Are you sure?', :method => "post" %></td>
		  </tr>
		<% end %>
	 </tbody>
	</table>
</div>

<% if @grouping.id != nil %>
	<%= form_tag grouping_path(@grouping)+'/add_user' %>
		<%= submit_tag 'Add user' %>
		<%= autocomplete_field_tag 'user', '', autocomplete_user_last_name_groupings_path, :id_element => '#grouping_user_id' %> Start typing the user's last name
		<%= hidden_field_tag 'grouping_user_id' %>

	<%= #button_to 'Add user', grouping_path(@grouping)+'/new_user'  
	%>
<% end %>
