<h1> <%= @grouping.fullname %></h1>
<%= form_tag grouping_path(@grouping)+'/add_user' %>
	<%= autocomplete_field_tag 'user', '', autocomplete_user_last_name_groupings_path, :id_element => '#grouping_user_id' %> Start typing the user's last name
	<br/>
	<%= hidden_field_tag 'grouping_user_id' %>
	<%= submit_tag 'Add user' %>

<br/>

<%= link_to 'Back', edit_grouping_path(@grouping)+"#tabs-2" %>