<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grouping.name %>
</p>

<p>
  <b>Description:</b>
  <%= @grouping.description %>
</p>

<p>
  <b>Company:</b>
  <%= @grouping.company_id %>
</p>

<p>
  <b>Parent grouping:</b>
  <%= @grouping.parent_id %>
</p>

<p>
  <b>Users:</b>
  <%= @grouping.users.collect { |u| [u.name, u.id] }  %>
</p>


<%= link_to 'Edit', edit_grouping_path(@grouping) %> |
<%= link_to 'Back', groupings_path %>
