<!---
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Active:</b>
  <%= @company.active %>
</p>

<p>
  <b>Never expires:</b>
  <%= @company.never_expires %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @company.expiration_date %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
--->
