<h2>Request Account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :company_id %><br />
  <%= f.select :company_id, options_from_collection_for_select(Company.all, :id, :name)  %></div>


  <div>
	<%= f.hidden_field :active, :value => true %>
	<%= f.submit "Sign up" %>
  </div>
<% end %>

<%= embed_rpx user_session_url %>

<%= render :partial => "devise/shared/links" %>
