<p><%= @user %>,</p>

<p>New account credentials have been created for you.  Your credentials are company: <%= @user.company %>, email: <%= @user.email %>, and password: <%= @password %></p>

<p><%= link_to 'Specializ', root_url(:protocol=>'https', :only_path => false) %></p>