<%= simple_form_for [@topic_group, @iteration, @element ], :validate => true do |f| %>

  <% if @element.errors.any? %>
    <% @element.errors.full_messages.each do |msg| %>
	  <%= js add_gritter( msg, :title => "Error", :image => :error, :sticky => true ) %>
    <% end %>
  <% end %>


<!---
--->
  <div class="field">
	<%= f.label :name %>
  	<%= f.text_field :name %>
  	<% if !@topic_group.consensus_topic? %>
	  <%= f.collection_select(:element_type_id, ElementType.all, :id, :name, :prompt => 'select type' ) %>
	<% else %>
	  <%= f.hidden_field :element_type_id, :value => 1 %>
	<% end %>
  </div>
  <div class="field">
  	<%= f.fields_for :element_attributes do |builder| %>
		<%= render 'elements/element_attributes', :f => builder %>
  	<% end %>
  </div>
  <div>
	<%= link_to_add_fields "Add Attribute", f, :element_attributes, '/elements/' %>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
