<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :id => "description_area", :cols => 10, :rows => 5 %>
  </div>
  <div class="field"
	<%= f.label 'Participating Groups: ' %>
	<%= f.select :groupings, nested_set_options(Grouping, @selected_groupings) {|i| "#{'-' * i.level} #{i.name}" }, { :multiple => true } %>
	<%= select_tag(:groupings, options_for_select(nested_set_options(Grouping) {|i| "#{' -' * i.level} #{i.name}" }, 
			:selected => @selected_groups ), { :multiple => true } ) %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select(:status, [['Open', 1], ['Closed', 2], ['Archived', 3]])%>
  </div>
  <div class="field">
    <%= f.label :update_frequency %>
    <%= f.text_field :update_frequency, :size => 5 %> days
  </div>
  <div class="field">
    <%= f.label :due_days %>
    <%= f.text_field :due_days, :size => 5 %> days
  </div>
  <div class="field">
    <%= f.label 'Allow participants to opt out?' %>
    <%= f.check_box :opt_out %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


