<h3>Libraries</h3>
<div>
	<table id="topic_library_table" class="display ">
	 <thead>
	  <tr>
	    <th class="center"></th>
	    <th class="center">Number</th>
	    
	    <th class="center">Name</th>
	  </tr>
	 </thead>
	 <tbody>
	  <% @libraries.each do |library| %>
	  	<tr id="node--<%=library.self_and_ancestors.map(&:id).join("-")%>" class="<%=library.html_class%>">
		  <td width="5px"><%= check_box_tag "checkbox-"+library.id.to_s, library.selected?(@topic.id) %></td>

		  <td width="7px">
			<%= library.number %>
		  </td>

		  <td style="padding-left:<%=(library.level * 15).to_s%>px !important;">
			<%= display_as_file_or_folder(library).html_safe %>
		  </td>

		</tr>
	  <% end %>
	 </tbody>
	</table>
</div>


<%= button_to 'Populate Topic', topic_populate_from_library_path(@topic), :confirm => 'Populate the topic from the selected libraries?'  %> 

