<div>
	<table id="topic_groups_table" class="display">
	 <thead>
	  <tr>
	    <th>Topic Groups</th>
		<th>Goal</th>
		<th>Num of Iterations</th>
		<th>Consensus</th>
		<th>Active?</th>
	    
	  </tr>
	 </thead>
	 <tbody>
		<% @topic.topic_groups.each do |topic_group| %>
		  <tr>
		    <td><%= link_to topic_group.name, edit_topic_topic_group_path(@topic, topic_group)  %></td>
		    <td class="center"><%= topic_group.goal %></td>
			<td class="center"><%= topic_group.iterations.count %></td>
			<td class="center"><%= topic_group.iterations.max_by{|i| i.consensus}.consensus %></td>
			<td class="center"><%= check_box_tag topic_group.id, 1, topic_group.active, { :disabled => true } %></td>
		  </tr>
		<% end %>
	 </tbody>
	</table>
</div>