
<h3>Listing assignments</h3>
<div>
  <div align=left>
	<%= form_tag(:controller => "topics", :action => "staff_topic", :method => "post") do %>
		Select the minimum participation percentage: <input name="percentage" size="5">%
		<%= hidden_field_tag(:topic_id, @topic.id)  %>
		<%= submit_tag("Staff Topic", :confirm => staffing_confirmation(@topic), :disabled => @topic.topic_groups.size < 1 ) %>
	<% end %>
  </div>
  </br>
</div>

<div>
	<%= select_tag( "topic_group_select", options_from_collection_for_select(@topic.topic_groups, "id", "name"), { :class => 'simple_select' })%>
	<table id="assignments_table" class="display fouc" data-source="<%= topic_group_participants_url(@topic.topic_groups.first, format: 'json') %>" >
	 <thead>
	  <tr>
	    <th class="center">User</th>
	    <th class="center">Topic group</th>
	    <th class="center">Manager</th>
	    <th class="center">Remove</th>
	  </tr>
	 </thead>
	 <tbody>
	   
	 </tbody>
	</table>
</div>

<% if @topic.id != nil %>
	<%= button_to 'New Assignment', new_topic_assignment_path(@topic), :method => :get, :disabled => @topic.topic_groups.size < 1  %> 
<% end %>
