<h2>Listing assignments</h2>

<%= form_tag(:controller => "topic_groups", :action => "staff_topic", :method => "post") do %>


	Select particpation rate: <input name="percentage" size="5">%
	<br/>
	<%= hidden_field_tag(:topic_id, @topic.id)  %>
	<%= submit_tag("Staff Topic", :confirm => 'Staff the topic?') %>
<% end %>

<table id="staffing">
 <thead>
  <tr>
    <th>User</th>
    <th>Topic group</th>
    <th>Manager</th>
    <th>Remove</th>
  </tr>
 </thead>
 <tbody>
	<% @assignments.each do |assignment| %>
	  <tr>
	    <td><%= User.find(assignment.user_id).name %></td>
	    <td><%= TopicGroup.find(assignment.topic_group_id).name %></td>
	    <td><%= assignment.manager %></td>
	    <td><%= link_to 'Remove?', assignment, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
 </tbody>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>