	
<%= select_tag(:topic_select, options_from_collection_for_select(@topics, :id, :name, @topic.id ), { :include_blank => 'New Topic ' }) %>
<%= label_tag 'Select a topic'%>


<div id="manager_tabs" class="ui-tabs">
	<ul>
		<li><a href="#tabs-1">Setup</a></li>
		
		<li><a href="#tabs-3">Staff</a></li>
		<li><a href="#tabs-4">Manage</a></li>
	</ul>
	<div id="tabs-1" class="ui-tabs-hide">
		<%= render 'form' %>
	</div>
	
	<div id="tabs-3" class="ui-tabs-hide">
	  <div id = "staff" >
		<%= render 'staff' %>
      </div>
	</div>
	<div id="tabs-4" class="ui-tabs-hide">
	  <div id = "manage" >
		<%= render 'manage' %>
      </div>
	</div>
</div>
