<h1>Listing topics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Update frequency</th>
    <th>Due days</th>
    <th>Opt out</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.name %></td>
    <td><%= topic.description %></td>
    <td><%= topic.status %></td>
    <td><%= topic.update_frequency %></td>
    <td><%= topic.due_days %></td>
    <td><%= topic.opt_out %></td>
    <td><%= topic.company_id %></td>
    <td><%= link_to 'Show', topic %></td>
    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
