<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
	<%= f.label :avatar %>
	<%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
 <% if (can? :manage, User) && @return_path == users_path %>
  <div class="field">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  <% for role in current_user.available_roles %>
	<div class="field">
	<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
	<%= role.name %>
  	</div>
  <% end %>
 <% end %>
  <div class="actions">
    <%= f.hidden_field :company_id, :value => current_user.company_id %>
	<%= hidden_field_tag 'return_path', @return_path %>
    <%= f.submit %>
  </div>
<% end %>
