
<div class="panel" >
  <h3>Listing users</h3>
  <div>
	<div id='new_user' align=right >
		<!---<%= link_to 'New User', new_user_path %> <br />--->
		<%= button_to "New user", new_user_path, :method => :get %>
	</div>
	
	<div id='demo'>
		<table id="user_table" class="display fouc" data-source="<%= users_url(format: 'json')%>">
		 <thead>
		  <tr>
			<th class="center">Active</th>
		    <th class="center">First Name</th>
		    <th class="center">Last Name</th>
			<th class="center">email</th>
		    <th></th>
		  </tr>
		 </thead>
		 <tbody>
		 
		 </tbody>
		</table><br/>
	</div>
	
	
	<div>
		<%= form_tag({ :controller => "users", :action => "import_users" }, {:multipart => true} ) do %>
		
			Upload users: <%= file_field_tag 'file' %>
			
			<%= submit_tag("Submit List", :confirm => 'Upload list from spreadsheet?') %>
		<% end %>
		<%= link_to "Example upload file", "tutorials/test_users.xls", :target => "_blank" %>
	</div>
  </div>

</div>
