<h1>Listing users</h1>

<div>
	<table id="user_table">
	 <thead>
	  <tr>
	    <th>First Name</th>
	    <th>Last Name</th>
		<th>email</th>
		<th>Active</th>
	    <th></th>
	  </tr>
	 </thead>
	 <tbody>
	 <% for user in @users %>
	  <tr>
	    <td><%= link_to user.first_name, edit_user_path(user) %></td>
	    <td><%= link_to user.last_name, edit_user_path(user) %></td>
		<td><%= link_to user.email, edit_user_path(user) %></td>
		<td><%= check_box_tag user.id, 1, user.active, { :disabled => true } %></td>
	    <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	 <% end %>
	 </tbody>
	</table>
</div>

<%= link_to 'New User', new_user_path%> <br />
<%= link_to 'New User - Devise', new_user_registration_path %>
