
<div class="panel" >
  <h3>Request Account</h3>
  <div>
	<% if resource.errors.any? %>
	  <% resource.errors.full_messages.each do |msg| %>
		<%= js add_gritter( msg, :image => :error, :sticky => true ) %>
	  <% end %>
	<% end %>
	
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <div>
		<%= label_tag '* Company'%>
		<%= autocomplete_field_tag 'company', '', autocomplete_company_name_ajax_index_path, :id_element => '#user_company_id' %> (start typing the company name)
	  </div>
	
	  
	  <%= f.input :first_name %>
	  <%= f.input :last_name %>
	  <%= f.input :email %>
	
	 <% if @user.password_required? %>
	  <%= f.input :password, :required => true%>
	  <%= f.input :password_confirmation, :required => true %>
	 <% end %>

	  
	  <%= f.input :active, :as => :hidden, :input_html => { :value => '0' } %>
	  <%= f.input :company_id, :as => :hidden %>
	  <%= f.submit "Sign up" %>
	  
	<% end %>

	<%= render :partial => "devise/shared/links" %>
  </div>
</div>
