<div class="panel" >
  <h1>Listing libraries</h1>
  <div>
	<table id="libraries_table" class="display " >
	 <thead>
	  <tr>
	  	<th>lft</th>
	    <th>Name</th>
	    <th></th>
	  </tr>
	 </thead>
	
	 <tbody>
	  <% @libraries.each do |library| %>
	    <tr>
	      <td><%= library.lft %></td>
	      <td><%= link_to_if (can? :edit, library), library.display_name, edit_library_path(library) %> </td>
	      <td><%= link_to_if (can? :delete, library), image_tag('icons/cross.png'), library, :confirm => 'Are you sure?', :method => :delete %></td>
	    </tr>
	  <% end %>
	 </tbody>
	</table>
	
	<br />
	
	<%= link_to 'New Library', new_library_path %>

    <div style="padding:5px;">
		<%= form_tag({ :controller => "libraries", :action => "import_libraries" }, {:multipart => true} ) do %>
			Upload libraries: <%= file_field_tag 'file' %>
			<%= submit_tag("Submit Libraries", :confirm => 'Upload libraries from spreadsheet?') %>
		<% end %>
	</div>
  </div>
</div>
