<div class="panel" >
  <h1>Listing libraries</h1>
  <div>
	<div >
	  <%= nested_li(@libraries) do |library| %>
		<% if library.leaf? %>
	      <span class="file">
			<% if can? :edit, library %>
			  <%= link_to library.name, edit_library_path(library) %>
			<% else %>
			  <%= link_to library.name, library %>
			<% end %>
		  </span>
		<% else %>
		  <span class="folder">
			<% if can? :edit, library %>
			  <%= link_to library.name, edit_library_path(library) %>
			<% else %>
			  <%= link_to library.name, library %>
			<% end %>
		  </span>
		<% end %>
	  <% end %>
	</div>
	<br />
	
	<%= link_to 'New Library', new_library_path %>

    <div style="padding:5px;">
		<%= form_tag({ :controller => "libraries", :action => "import_libraries" }, {:multipart => true} ) do %>
			Upload libraries: <%= file_field_tag 'file' %>
			<%= submit_tag("Submit Libraries", :confirm => 'Upload libraries from spreadsheet?') %>
		<% end %>
	</div>
  </div>
</div>
