<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <% @company.errors.full_messages.each do |msg| %>
	  <%= js add_gritter( msg, :title => "Error", :image => :error, :sticky => true ) %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :never_expires %><br />
    <%= f.check_box :never_expires %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.date_select :expiration_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
