<%= javascript_include_tag 'jquery.rating' %>

<div>
  <div id="elementDiv" align=right>
    <% if @iteration.active %>
	  <button id="new_element_btn" class="new_element_btn"> Add New Item </button>
    <% end %>
  </div>  
   
  <div align=left>
  Iteration: 
  <%= select_tag(:iteration_select, options_from_collection_for_select(@iterations, :id, :num, @iteration.id ), :disabled => !@topic_group.active,  :class => 'simple_select') %>
  </div>
</div>

<!-- JDavis: adding autocomplete => off, else the radio buttons on Mozilla based browsers act crazy. -->
<%= form_tag users_rate_elements_path, :id => 'rating_form', :autocomplete => "off" do %>
  <div>
	<table id="rating_table" class="display fouc" >
	 <thead>
	  <tr>
		<th></th>
		<th class="center">Name</th>
		<th class="center">Agreement</th>
	    <th class="center">Rating</th>
		<th></th> 

	  </tr>
	 </thead>
	
	 <tbody>
		<% @suggested_elements.each do |element| %>
	      <tr>
			<td>
			  <% if element.has_attributes? %>
			    <%= image_tag 'details_open.png', :class => 'details' %>
			  <% end %>
			</td>
			<td>
			  <%= best_in_place_if ((can? :manage, @topic_group) && @iteration.active), element, :name, :type => :input, :html_attrs => { :size => 60 } %>
			  <% if can? :manage, element %>
			    <%= link_to_if @iteration.active, image_tag('attr_add2.png', :size => '10x10'), edit_topic_group_iteration_element_path(@topic_group, @iteration, element) %>
			  <% end %>
			  
			  <% if element.has_attributes? %>
			    <%= render 'inner_details', :element => element %>
			  <% end %>
			</td>

			<td></td>

			<td>
			  <%= my_suggestion(@iteration.active) %>
			</td>
 
			<td class="center">
				<% if @iteration.last? && (can? :manage, element) %>
					<%= link_to image_tag('icons/cross.png'), topic_group_iteration_element_path(@topic_group, @iteration, element), 
						:confirm => "Select 'OK' to delete. Any unsaved ratings may be lost.", :method => :delete%>
				<% end %>
			</td>

		 </tr>

		<% end %>
		
		<% @elements.each do |element| %>
		  <tr>
		    <td>
			  <% if element.has_attributes? %>
			    <%= image_tag 'details_open.png', :class => 'details' %>
			  <% end %>
			</td>
			
		   <% if element.description %>
			<td id="<%=element.id%>" class="element_tooltip">
  		   <% else %>
			<td>
		   <% end %>
			  <%= best_in_place_if ((can? :manage, @topic_group) && @iteration.last?), element, :name, :type => :input, :html_attrs => { :size => 60 } %>
			  <% if ((can? :manage, @topic_group) && @iteration.last?) %>
			  	<%= link_to image_tag('attr_add2.png', :size => '10x10'), edit_topic_group_iteration_element_path(@topic_group, @iteration, element) %>
			  <% end %>

			  <% if element.has_attributes? %>
			    <%= render 'inner_details', :element => element %>
			  <% end %>			
			</td>

			<td class="center">
			  <%= number_to_percentage(element.agreement_score(@iteration), :precision => 2, :strip_insignificant_zeros => true) %>
			</td>

			<td id="rating" >
			  
				<%= radio_button_tag row_name(element.id), 1, score(element, @iteration.id) == 1, options = { :class => "jdstar", :disabled => !@iteration.active || !@participant } %>
				<%= radio_button_tag row_name(element.id), 2, score(element, @iteration.id) == 2, options = { :class => "jdstar", :disabled => !@iteration.active || !@participant } %>
				<%= radio_button_tag row_name(element.id), 3, score(element, @iteration.id) == 3, options = { :class => "jdstar", :disabled => !@iteration.active || !@participant } %>
				<%= radio_button_tag row_name(element.id), 4, score(element, @iteration.id) == 4, options = { :class => "jdstar", :disabled => !@iteration.active || !@participant } %>
				<%= radio_button_tag row_name(element.id), 5, score(element, @iteration.id) == 5, options = { :class => "jdstar", :disabled => !@iteration.active || !@participant } %>
			 
			</td>

		    <td class="center">
				<% if @iteration.last? && (can? :manage, @topic_group) %>
					<%= link_to image_tag('icons/cross.png', :alt => "del"), topic_group_iteration_element_path(@topic_group, @iteration, element), 
					:confirm => "Select 'OK' to delete. Any unsaved ratings may be lost.", :method => :delete%>
				<% end %>
			</td>
			
		  </tr>
			
		<% end %>
	 </tbody>
	</table>

	<table id="hidden_rating_table" class="fouc"></table>
	
  </div>
  
  <%= hidden_field_tag(:iteration_id, @iteration.id) %>
  <%= hidden_field_tag(:resubmit, @submitted) %>
  <div align='right'> 
	<%= submit_tag("Save List", :confirm => confirm_dialogue(@submitted), :disabled => !@iteration.active || !@participant) %> 
  </div>
 
<% end %>
<% if false %> <!--JDavis: was @iteration.active -->
	<div align='left'> <button id="item_delete"> Remove Selected Item </button>	</div>
<% end %>



