<%= javascript_include_tag 'jquery.rating' %>

<%= form_tag(:controller => "elements", :action => "rate_elements", :method => "post") do %>

	<table id="rating_table" >
	 <thead>
	  <tr>
		<th>Name</th>
	    <th>Rating</th>
		<th></th>
	  </tr>
	 </thead>
	
	 <tbody>
		<% @elements.each do |element| %>
		  <tr>
		    <td><%= element.name %></td>
			<% score = element.score(@current_user.id ,@iteration.id) %>
			<% name = 'rating['+element.id.to_s+']' %>
		
			<td id="rating">	
				<%= radio_button_tag name, 1, score == 1, options = { :class => "jdstar", :disabled => !@active } %>
				<%= radio_button_tag name, 2, score == 2, options = { :class => "jdstar", :disabled => !@active } %>
				<%= radio_button_tag name, 3, score == 3, options = { :class => "jdstar", :disabled => !@active } %>
				<%= radio_button_tag name, 4, score == 4, options = { :class => "jdstar", :disabled => !@active } %>
				<%= radio_button_tag name, 5, score == 5, options = { :class => "jdstar", :disabled => !@active } %>
			</td>
	
			<% if @active %>
		    <td><%= link_to 'Delete', topic_group_iteration_element_path(@topic_group, @iteration, element), :confirm => 'Are you sure?', :method => :delete%></td>
			<% end %>
		  </tr>
		<% end %>
	 </tbody>
	</table>
	
	<%= #will_paginate @elements 
	%>
	<%= hidden_field_tag(:iteration_id, @iteration.id) %>
	<%= submit_tag("Submit List", :confirm => 'Submit your list?', :disabled => !@active) %>
<% end %>