<%= javascript_include_tag 'jquery.rating' %>

<div>
  <div id="elementDiv" align=right>
    <% if @iteration.active %>
	  <input type="text" id="element_name" />
	  <button id="new_element"> Add New Item </button>
    <% end %>
  </div>  
   
  <div align=left>
  Iteration: 
  <%= select_tag(:iteration_select, options_from_collection_for_select(@iterations, :id, :num, @iteration.id ), :disabled => !@topic_group.active) %>
  </div>
</div>

<%= form_tag(:controller => "elements", :action => "rate_elements", :method => "post") do %>
  <div>
	<table id="rating_table" class="display"  >
	 <thead>
	  <tr>
		<th>Name</th>
	    <th>Rating</th>
		<th>Remove</th> 
		<th>hidden</th>
		
	  </tr>
	 </thead>
	
	 <tbody>
		<% @suggested_elements.each do |element| %>
	      <tr>
			<td>
			  <%= best_in_place_if (@iteration.id == @topic_group.iterations.last.id), element, :name, :type => :input %>
			  <% if @iteration.id == @topic_group.iterations.last.id %>
				<%= link_to '(delete?)', topic_group_iteration_element_path(@topic_group, @iteration, element), :confirm => 'Are you sure?', :method => :delete%>
			  <% end %>
			</td>

			<td>
			  <% if @iteration.id == @topic_group.iterations.last.id %>
				  Waiting approval
			  <% else %>
				  My suggestion
			  <% end %>
			</td>

			<td><%= link_to 'Delete', topic_group_iteration_element_path(@topic_group, @iteration, element), :confirm => 'Are you sure?', :method => :delete%></td>

			<td><%= element.name.upcase %></td>
		  </tr>
		<% end %>
		
		<% @elements.each do |element| %>
		  <tr>
		    <td>
			  <%= best_in_place_if (@manager && @iteration.active), element, :name, :type => :input %>				
			</td>
			<% score = element.score(current_user.id ,@iteration.id) %>
			<% name = 'rating['+element.id.to_s+']' %>
		
			<td id="rating">	
				<%= radio_button_tag name, 1, score == 1, options = { :class => "jdstar", :disabled => !@iteration.active } %>
				<%= radio_button_tag name, 2, score == 2, options = { :class => "jdstar", :disabled => !@iteration.active } %>
				<%= radio_button_tag name, 3, score == 3, options = { :class => "jdstar", :disabled => !@iteration.active } %>
				<%= radio_button_tag name, 4, score == 4, options = { :class => "jdstar", :disabled => !@iteration.active } %>
				<%= radio_button_tag name, 5, score == 5, options = { :class => "jdstar", :disabled => !@iteration.active } %>
			</td>
	
		    <td><%= link_to 'Delete', topic_group_iteration_element_path(@topic_group, @iteration, element), :confirm => 'Are you sure?', :method => :delete%></td>
			
			<td><%= element.name.upcase %></td>
		  </tr>
		<% end %>
	 </tbody>
	</table>
  </div>
  
  <%= hidden_field_tag(:iteration_id, @iteration.id) %>
  <%= hidden_field_tag(:resubmit, @submitted) %>
  <div align='right'> 
	<% if @submitted %>
		<%= submit_tag("Submit List", :confirm => 'Resubmit your list? Previous ratings will be overwritten.', :disabled => !@iteration.active) %> 
	<% else %>
		<%= submit_tag("Submit List", :confirm => 'Submit your list?', :disabled => !@iteration.active) %> 
	<% end %>
  </div>
 
<% end %>
<% if @iteration.active %>
	<div align='left'> <button id="item_delete"> Remove Selected Item </button>	</div>
<% end %>

