<%= form_for(@iteration) do |f| %>
  <% if @iteration.errors.any? %>
    <% @iteration.errors.full_messages.each do |msg| %>
	  <%= js add_gritter( msg, :title => "Error", :image => :error, :sticky => true ) %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :consensus %><br />
    <%= f.text_field :consensus %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :topic_group_id %><br />
    <%= f.text_field :topic_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
