<div class="panel" >
  <h3>Consensus Goal: <%= @topic_group.goal %>% agreement</h3>
  <div>
	<p>
	  Topic Description: 
	  <%= @topic.description %> <br/>
	</p>
	
	
	<img src= <%= @topic_group.bar_chart %> />
	
	<% if @topic_group.active && (can? :manage, @topic_group) %>
	
		<p>
		  <% if @topic_group.iterations.last.active %>
			<%= button_to 'Close current iteration', topic_group_iteration_close_path(@topic_group, @topic_group.iterations.last ), :confirm => 'Close the current iteration?' %> <br />
		  <% elsif @iteration == @topic_group.iterations.last %>
			<%= button_to 'Start new iteration', topic_group_iteration_start_path(@topic_group, @topic_group.iterations.last ), :confirm => 'Start a new iteration?' %> <br />
		  <% end %>
			
		</p>

		<p>
		  <% if !@topic_group.iterations.last.active? %>
			<%= button_to 'Close topic group', topic_group_close_path(@topic_group), :confirm => 'This will close the topic group.  Are you sure?' %> <br />
		  <% end %>
		</p>
	<% else %>
		
		<p>
			This topic group is closed. The consensus goal for this group was <%= @topic_group.goal %>. The highest consensus reached was <%= @topic_group.iterations.maximum('consensus') %>.  
			
		</p>
		<p>
			<%= button_to 'Download final list', '#' %>
		</p>
	
	<% end %>
  </div>
</div>
