<% if can? :manage, @topic_group %>
  <div>

    <div id="elementDiv" align=right>
	  <button id="manager_new_element_btn" class="new_element_btn"> Add New Item </button> 
    </div> 
 
    <%= form_tag(:controller => "users", :action => "approve_new_elements", :method => "post") do %>
	  <table id="new_elements_table" class="display fouc">
		<thead>
		  <tr>
			<th class="center">Approve</th>
			<th></th>
			<th class="center">New Suggestions</th>
		  </tr>
		</thead>
		<tbody>
		  <% @new_elements.each do |new_element| %>
		    <tr>
			  <% name = 'approve['+new_element.id.to_s+']' %>
			  <td class="center"> <%= check_box_tag name, 1, new_element.approved?(@iterations.last.id) %> </td>
			  <td>
				<% if new_element.has_attributes? %>
			      <%= image_tag 'details_open.png', :class => 'details' %>
			    <% end %>
			  </td>
			  <td>
				<%= best_in_place new_element, :name, :type => :input, :html_attrs => { :size => 60 } %>
			  
			    <%= link_to image_tag('attr_add2.png', :size => '10x10'), edit_topic_group_iteration_element_path(@topic_group, @iterations.last, new_element) %>

				<% if new_element.has_attributes? %>
				  <%= render 'inner_details', :element => new_element %>
				<% end %>
			  </td>
			</tr>
		  <% end %>
		</tbody>
	  </table>
	  <%= hidden_field_tag(:iteration_id, @iterations.last.id) %>
	  <%= submit_tag("Submit Approvals", :confirm => 'Approve these elements?') %>
	<% end %>
  </div>
<% end %>



<div>
  <%= form_tag({ :controller => "topic_groups", :action => "import_elements"}, {:multipart => true} ) do %>
	
    Upload elements: <%= file_field_tag 'file', :disabled => @iterations.last.active? %>
	<%= submit_tag("Submit List", :confirm => 'Upload list from spreadsheet?', :disabled => @iterations.last.active? ) %>
	
	<%= hidden_field_tag(:iteration_id, @iterations.last.id) %>
	<%= hidden_field_tag(:topic_group_id, @topic_group.id) %>
  <% end %>
</div>