<% if @topic_group.active %>
	<p>
		<img src= <%= @iteration.completion_meter(@topic_group.iterations.last.num_submitted_lists, @topic_group.users.count) %> /> <br/>
		<b><%= @topic_group.iterations.last.num_submitted_lists %></b> 
		out of <b><%= @topic_group.users.count %></b> users have submitted input during the last iteration. <br/>
	</p>

	<p>
	  <% if @topic_group.iterations.last.active %>
		<%= button_to 'Close current iteration', topic_group_iteration_close_path(@topic_group, @topic_group.iterations.last ), :confirm => 'Close the current iteration?' %> <br />
	  <% elsif @iteration == @topic_group.iterations.last %>
		<%= button_to 'Start new iteration', topic_group_iteration_start_path(@topic_group, @topic_group.iterations.last ), :confirm => 'Start a new iteration?' %> <br />
	  <% end %>
		
	</p>

	<% if @manager %>
	  <div>
	  	<%= form_tag(:controller => "elements", :action => "approve_new_elements", :method => "post") do %>
			<table id="new_elements_table">
			 <thead>
			  <tr>
				<th>Approve</th>
			    <th>New Suggestions</th>
			  </tr>
			 </thead>
			 <tbody>
				<% @new_elements.each do |new_element| %>
				  <tr>
					<% name = 'approve['+new_element.id.to_s+']' %>
				    <td> <%= check_box_tag name, 1, false %> </td>
				    <td><%= new_element.name %></td>
				  </tr>
				<% end %>
			 </tbody>
			</table>
			<%= hidden_field_tag(:topic_group_id, @topic_group.id) %>
			<%= submit_tag("Submit Approvals", :confirm => 'Approve these elements?') %>
	 	<% end %>
	  </div>
	<% end %>



  	<div>
	<%= form_tag({ :controller => "topic_groups", :action => "import_elements"}, {:multipart => true} ) do %>
	
		Upload elements: <%= file_field_tag 'file' %>
	
		<%= hidden_field_tag(:iteration_id, @iteration.id) %>
		<%= hidden_field_tag(:topic_group_id, @topic_group.id) %>
		<%= submit_tag("Submit List", :confirm => 'Upload list from spreadsheet?', :disabled => @active) %>
	<% end %>
  	</div>


	
	<p>
	  <% if !@topic_group.iterations.last.active? %>
		<%= button_to 'Close topic group', topic_group_close_path(@topic_group), :confirm => 'This will close the topic group.  Are you sure?' %> <br />
	  <% end %>
	</p>
<% else %>
	
	<p>
		This topic group is closed. The consensus goal for this group was <%= @topic_group.goal %>. The highest consensus reached was <%= @topic_group.iterations.maximum('consensus') %>.  
		
	</p>
	<p>
		<%= button_to 'Download final list', '#' %>
	</p>

<% end %>

