<p>
	Users assigned to this topic group: <%= @topic_group.users.count %>  <br/>
	User that have submitted input: 

</p>

<p>
  <% if @iteration.active %>
	<%= button_to 'Close current iteration', topic_group_iteration_close_path(@topic_group, @topic_group.iterations.last ), :confirm => 'Close the current iteration?' %> <br />
  <% elsif @iteration == @topic_group.iterations.last %>
	<%= button_to 'Start new iteration', '#', :confirm => 'Start a new iteration?' %> <br />
  <% end %>
	
</p>


<%= form_tag({ :controller => "topic_groups", :action => "import_elements"}, {:multipart => true} ) do %>

	Upload elements: <%= file_field_tag 'file' %>

	<%= hidden_field_tag(:iteration_id, @iteration.id) %>
	<%= submit_tag("Submit List", :confirm => 'Upload list from spreadsheet?', :disabled => !@active) %>
<% end %>




<p>
	<%= link_to 'Close topic group', '#', :confirm => 'This will close the topic group.  Are you sure?' %> <br />
</p>
