
<p>
  <%= @topic_group.name %> <br/>
  <%= @topic.description %> <br/>

</p>

<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>

  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%= element.name %></td>
	<td>
		<!---
		<input name="star<%=element.id%>" type="radio" class="star" value="1" <%= "disabled='disabled'" if !(@iteration.active?)  %>/>
		<input name="star<%=element.id%>" type="radio" class="star" value="2" <%= "disabled='disabled'" if !(@iteration.active?)  %>/>
		<input name="star<%=element.id%>" type="radio" class="star" value="3" <%= "disabled='disabled'" if !(@iteration.active?)  %>/>
		<input name="star<%=element.id%>" type="radio" class="star" value="4" <%= "disabled='disabled'" if !(@iteration.active?)  %>/>
		<input name="star<%=element.id%>" type="radio" class="star" value="5" <%= "disabled='disabled'" if !(@iteration.active?)  %>/>
		--->
		


	</td>

    <td><%= link_to 'Delete', element, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<%= link_to 'New Item', new_topic_group_iteration_element_path(@topic_group, @topic_group.iterations.last ) %>