<div class="panel" >
  <h3><%= @topic_group.active? ? @topic_group.name : @topic_group.name + ' (closed)' %> </h3>
  <div>
	<div id="me_tabs" class="ui-tabs fouc">
		<ul>
			<li><a href="#tabs-1">Topic Info</a></li>
			<li><a href="#tabs-2">Participate</a></li>
			<% if can? :manage, @topic_group %>
				<li><a href="#tabs-3">Manage Participants</a></li>
				
				<li><a href="#tabs-5">Manage Elements</a></li>
			<% end %>
		</ul>
		<div id="tabs-1" class="ui-tabs-hide">
			<%= render 'information' %>
		</div>
		<div id="tabs-2" class="ui-tabs-hide">
			<%= render 'elements' %>
		</div>
		<% if can? :manage, @topic_group %>
			<div id="tabs-3" class="ui-tabs-hide">
				<%= render 'participants', :topic_group => @topic_group, 
									  :participating_users => @participating_users %>
			</div>
			<div id="tabs-5" class="ui-tabs-hide">
				<%= render 'manage_elements' %>
			</div>
		<% end %>
  </div>
</div>

<div id="element_dialog_form" title="Create new item">
	<%= render :partial => 'elements/form' %>
</div>

</div>

