<script type="text/javascript">

  //window.onload = function(){ meTabs.show(); }
  $(function(){
/*
	i=0;
	$("#new_element").click(function() {
		var str = $("#element_name").val();
		if (str.length < 1) return false;

		a = rTable.fnFindCellRowIndexes( str.toUpperCase(), 3 );
		if (a.length == 0) {
			i++;
	    	$(rTable.fnAddData( [ '<input id="new['+i+']" name="new['+i+']" type="text" value="'+str+'" /> ', 'New Element' , 'Delete' , str.toUpperCase()] ));
			// Append to a hidden list
			$("#test_field").val(str);
		}
		else {
			alert("That item already exists!");
			//rTable.fnDisplayRow( rTable.fnGetNodes()a );
		}
		$("#element_name").val("");
    });

  $('.element_link').click(function(event) {
		//$( '#element_dialog_form' ).dialog( "open" );
		//dElement.dialog( "open" );
	alert(event.target);
	return false;
  });
*/

  });

</script>


<div class="panel" >
  <h3><%= @topic_group.active? ? @topic_group.name : @topic_group.name + ' (closed)' %> </h3>
  <div>
	<div id="me_tabs" class="ui-tabs">
		<ul>
			<li><a href="#tabs-1">Topic Info</a></li>
			<li><a href="#tabs-2">Participate</a></li>
			<li><a href="#tabs-3">Members</a></li>
			<% if can? :manage, @topic_group %>
				<li><a href="#tabs-4">Manage Participants</a></li>
				<li><a href="#tabs-5">Manage Elements</a></li>
			<% end %>
		</ul>
		<div id="tabs-1" class="ui-tabs-hide">
			<%= render 'information' %>
		</div>
		<div id="tabs-2" class="ui-tabs-hide">
			
			<div id = "elements">
				<%= render 'elements' %>
			</div>
		</div>
		<div id="tabs-3" class="ui-tabs-hide">
			<%= render 'members', :topic_group => @topic_group, 
								  :participating_users => @participating_users %>
		</div>
		<% if can? :manage, @topic_group %>
			<div id="tabs-4" class="ui-tabs-hide">
				<%= render 'manage' %>
			</div>
			<div id="tabs-5" class="ui-tabs-hide">
				<%= render 'manage_elements' %>
			</div>
		<% end %>
  </div>
</div>

<div id="element_dialog_form" title="Create new item">
	<%= render :partial => 'elements/form' %>
</div>

</div>

