
<p>
  <%= @topic_group.name %> <br/>
</p>



<div id="me_tabs">
	<ul>
		<li><a href="#tabs-1">Topic Info</a></li>
		<li><a href="#tabs-2">Participate</a></li>
		<li><a href="#tabs-3">Members</a></li>
		<% if @manager %>
			<li><a href="#tabs-4">Manage</a></li>
		<% end %>
	</ul>
	<div id="tabs-1">
		<%= render 'information' %>
	</div>
	<div id="tabs-2">
		
		<div id = "elements">
			<%= render 'elements' %>
		</div>
	</div>
	<div id="tabs-3">
		<%= render 'members' %>
	</div>
	<% if @manager %>
		<div id="tabs-4">
			<%= render 'manage' %>
		</div>
	<% end %>
</div>

