<script type="text/javascript">
  $(function(){
	i=0;
	$("#new_element").click(function() {
		var str = $("#element_name").val();
		if (str.length < 1) return false;

		a = rTable.fnFindCellRowIndexes( str.toUpperCase(), 3 );
		if (a.length == 0) {
			i++;
	    	$(rTable.fnAddData( [ '<input id="new['+i+']" name="new['+i+']" type="text" value="'+str+'" />', 'New Element' , 'Delete' , str.toUpperCase()] ));
			// Append to a hidden list
			$("#test_field").val(str);
		}
		else {
			alert("That item already exists!");
			//rTable.fnDisplayRow( rTable.fnGetNodes()a );
		}
		$("#element_name").val("");
    });
  });

</script>

<p>
  <%= @topic_group.active? ? @topic_group.name : @topic_group.name + ' (closed)' %> <br/>
</p>


<div id="me_tabs">
	<ul>
		<li><a href="#tabs-1">Topic Info</a></li>
		<li><a href="#tabs-2">Participate</a></li>
		<li><a href="#tabs-3">Members</a></li>
		<% if can? :manage, @topic_group %>
			<li><a href="#tabs-4">Manage</a></li>
		<% end %>
	</ul>
	<div id="tabs-1">
		<%= render 'information' %>
	</div>
	<div id="tabs-2">
		
		<div id = "elements">
			<%= render 'elements' %>
		</div>
	</div>
	<div id="tabs-3">
		<%= render 'members', :topic_group => @topic_group, 
							  :participating_users => @participating_users %>
	</div>
	<% if can? :manage, @topic_group %>
		<div id="tabs-4">
			<%= render 'manage' %>
		</div>
	<% end %>
</div>

