<div class="panel" >
  <h3>Tutorials</h3>
  <div>
	<table style="margin-bottom:0">
	  <tr>
		<th>Videos</th>
		<th>Manuals</th>
	  </tr>
	  <tr>
		<td>
	  	 <ul style="margin:0">
		  <li><%= link_to "Participate in a topic", "http://www.youtube.com/watch?v=juE3mVjFR1o", :target => "_blank" %></li>
		  <li><%= link_to "Manage a topic", "http://www.youtube.com/watch?v=c9NAuMilbQo", :target => "_blank" %> </li>
		  <li><%= link_to "Create a topic", "http://www.youtube.com/watch?v=nlCo-ZFqrNM", :target => "_blank" %></li>
		  <li><%= link_to "Information on groups", "http://www.youtube.com/watch?v=8NJMWu3wT20", :target => "_blank" %></li>
		  <li><%= link_to "Import topic elements", "http://www.youtube.com/watch?v=oVy6mgb_lPo", :target => "_blank" %></li>
		  <%= link_to "...more", "#", :id => 'more_link' %>
					
		 </ul>
		</td>
		<td>
		 <ul>
		  <li><%= link_to "Participate in a topic", "tutorials/SPZ-TRL-2000_Topic_Participation.pdf", :target => "_blank" %></li>
		  
					
		 </ul>
		</td>
	  </tr>
	</table>
  </div>
</div>