	
<% if user_signed_in? %>

   <div class="panel" >
    <h3><%= current_user %>, you are assigned to <%= pluralize(current_user.open_topic_groups.size, "active topic") %></h3>
	<div>
	 <table class="portalTable">
	  <tr>
	   <td width='50%'>
		<div><%= render 'tutorials' %></div>
	   </td>
	   <td>
		<div class="panel">
		  <h3>Announcements </h3>
		  <div>
			<p> Specializ will be down for mantenance May 27 from 2am-3am US CST.  </p>
		  </div>
		</div>
	   </td>
	  </tr>
	  <tr>
	   <td>
		<div class="panel">
		  <h3>Calendar</h3>
			<div id='calendar'></div>
		 </div>
	   </td>
	   <td>
		<div id="events_div">
 
		 	<%= render 'event_list' %>

		</div>
	   </td>
	  </tr>
	 </table>
	</div>
   </div>

  <div id="more_dialog" title="More Videos" class="popup fouc">
	<%= render 'more' %>
  </div>

<% end %>
