	
<% if user_signed_in? %>

   <div class="panel" >
    <h3><%= current_user %>, you are assigned to <%= pluralize(current_user.open_topic_groups.size, "active topic") %></h3>
	<div>
	 <table class="portalTable">
	  <tr>
	   <td width='50%'>
		<div class="panel" >
		  <h3>Tutorials</h3>
		   <div>
			<ul>
				<li><%= link_to "Participate in a topic", "http://www.youtube.com/watch?v=juE3mVjFR1o", :target => "_blank" %></li>
				<li><%= link_to "Manage a topic", "http://www.youtube.com/watch?v=c9NAuMilbQo", :target => "_blank" %> </li>
				<li><%= link_to "Create a topic", "http://www.youtube.com/watch?v=nlCo-ZFqrNM", :target => "_blank" %></li>
				<li><%= link_to "Information on groups", "http://www.youtube.com/watch?v=8NJMWu3wT20", :target => "_blank" %></li>
				<li><%= link_to "Import topic elements", "http://www.youtube.com/watch?v=oVy6mgb_lPo", :target => "_blank" %></li>
				<%= link_to "...more", "#", :id => 'more_link' %>
				
			</ul>
		   </div>
		</div>
	   </td>
	   <td>
		<div class="panel">
		  <h3>Announcements </h3>
		  <div>
			<p> Specializ will be down for mantenance March 28 from 2am-3am CST.  </p>
		  </div>
		</div>
	   </td>
	  </tr>
	  <tr>
	   <td>
		<div class="panel">
		  <h3>Calendar</h3>
			<div id='calendar'></div>
		 </div>
	   </td>
	   <td>
		<div id="events_div">
 
		 	<%= render 'event_list' %>

		</div>
	   </td>
	  </tr>
	 </table>
	</div>
   </div>

  <div id="more_dialog" title="Tutorials" class="popup">
	<%= render :partial => 'more' %>
  </div>

<% end %>
