	
<% if user_signed_in? %>

   <div class="collapsibleContainer ui-widget ui-corner-all" 
	title="<%= current_user %>, you are assigned to <%= pluralize(current_user.open_topic_groups.size, "active topic") %>">
	 <table class="portalTable">
	  <tr>
	   <td background-color="#FFF" width='50%'>
		<div class="collapsibleContainer" title="Tutorials" >
			<ul>
				<li><%= link_to "Participate in a topic", "#" %></li>
				<li><%= link_to "Manage a topic", "#" %></li>
				<li><%= link_to "Create a topic", "#" %></li>
				<li><%= link_to "Information on groups", "#" %></li>
				<li><%= link_to "Import topic elements", "#" %></li>
			</ul>
		</div>
	   </td>
	   <td>
		<div class="collapsibleContainer" title="Announcements" >
			<p> Specializ will be down for mantenance Feburary 6 from 2am-3am CST.  </p>
		</div>
	   </td>
	  </tr>
	  <tr>
	   <td>
		<div class="collapsibleContainer" title="Calendar" >
			<div id='calendar'></div>
		 </div>
	   </td>
	   <td>
		<div class="collapsibleContainer" title="Events" >
		  <div id="events_div">
			<%= render 'events' %>
			
		  </div>
		</div>
	   </td>
	  </tr>
	 </table>
   </div>

<% end %>
