<%= form_for(@topic_group) do |f| %>
  <% if @topic_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic_group.errors.count, "error") %> prohibited this topic_group from being saved:</h2>

      <ul>
      <% @topic_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :update_frequency %><br />
    <%= f.text_field :update_frequency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
