<div id="browserPanel" class="navPanel fouc" >
  <h3>My Topics</h3>
  <div>
  	<div class="browser">
		<div id="accordion"  >
		    <h3><a href="#open">Open Topics</a></h3>
		    <div>
				<table class="display">
				<% current_user.open_topic_groups.each do |topic_group| %>
				  <tr>
					<% if @topic_group && @topic_group == topic_group %>
					  <td class="selected">
						<%=link_to topic_group.name, topic_group_iteration_path(topic_group, topic_group.iterations.last)+"#open" %> 
					  </td>
					<% else %>
				      <td><%=link_to topic_group.name, topic_group_iteration_path(topic_group, topic_group.iterations.last)+"#open" %> </td>
					<% end %>
				  </tr>
				<% end %>
				</table>
		
			</div>
			<h3><a href="#closed">Closed Topics</a></h3>
		    <div >
				<table class="display">
				<% current_user.closed_topic_groups.each do |closed_topic_group| %>
				  <tr>
					<% if @topic_group && @topic_group == closed_topic_group %>
					  <td class="selected">
						<%=link_to closed_topic_group.name, url_for([closed_topic_group, closed_topic_group.iterations.last])+"#closed" %>
					  </td>
					<% else %>
				      <td><%=link_to closed_topic_group.name, url_for([closed_topic_group, closed_topic_group.iterations.last])+"#closed" %> </td>
					<% end %>
				  </tr>
				<% end %>
				</table>
		
			</div >
		    <h3><a href="#managed">Managed Topics</a></h3>
		    <div>
				<table class="display">
				<% current_user.managed_topic_groups.each do |managed_topic_group| %>
				  <tr>
					<% if @topic_group && @topic_group == managed_topic_group %>
					  <td class="selected">
						<%=link_to managed_topic_group.name, url_for([managed_topic_group, managed_topic_group.iterations.last])+"#managed" %>
					  </td>
					<% else %>
				      <td><%=link_to managed_topic_group.name, url_for([managed_topic_group, managed_topic_group.iterations.last])+"#managed" %></td>
					<% end %>
				  </tr>
				<% end %>
				</table>
			</div>
		</div> 
		
    </div>
  </div>
</div>
	

