<header class="SiteHeader Text TextSmall">


 <div class="SiteHeaderBar" id="shBar"> <!-- JDavis: color of the bar is set in this div class -->

<% if user_signed_in? %>	
   <div class= "SiteHeaderBarItem" style="padding: 0 0 0 0;">  
	 <%= link_to logo, root_path %>
   </div>
  
	<div class="SiteHeaderDropdownLink SiteHeaderBarItem">
	  <%= link_to 'Me', me_path, :class=> "SiteHeaderBarLink" %>
  	  <div class="SiteHeaderDropPanel" id="ProductsPanel">
        <div class="SiteHeaderPanelRow SiteHeaderPanelLink">
          <span class="SiteHeaderPanelHeader">
			<%= link_to "Home", me_path %>
		  </span>
        </div>
		<div class="SiteHeaderPanelRow SiteHeaderPanelLink">
          <span class="SiteHeaderPanelHeader"> 
			<%= link_to "Edit profile",  edit_user_path(current_user) + '?return=me'%> 
		  </span>
        </div>
		<div class="SiteHeaderPanelRow SiteHeaderPanelLink">
          <span class="SiteHeaderPanelHeader"> 
			<%= link_to "Change password",  edit_user_registration_path %>
		  </span>
        </div>          
      </div>
	</div>

  <% if current_user.role? :manager %>
	<%= link_to "Manager", manager_path, :class => "SiteHeaderBarItem SiteHeaderBarLink closeBrowser" %>
  <% end %>

  <% if current_user.role? :hr %>
  	<%= link_to "HR", hr_path, :class => "SiteHeaderBarItem SiteHeaderBarLink closeBrowser" %>
  <% end %>

  <% if current_user.role? :admin %>
  	<div class="SiteHeaderDropdownLink SiteHeaderBarItem">
	  <%= link_to 'Admin', company_admin_path, :class => "SiteHeaderBarLink closeBrowser" %>
  	  <div class="SiteHeaderDropPanel closeBrowser" id="ProductsPanel">
        <div class="SiteHeaderPanelRow SiteHeaderPanelLink">
          <span class="SiteHeaderPanelHeader">
			<%= link_to "Users", company_admin_path, :class => "closeBrowser" %>
		  </span>
        </div>
		<div class="SiteHeaderPanelRow SiteHeaderPanelLink">
          <span class="SiteHeaderPanelHeader"> 
			<% if Company.find(current_user.company_id).ldap_setting %>
				<%= link_to_if(true, "LDAP", edit_ldap_setting_path(LdapSetting.find_by_company_id(current_user.company_id)), :class => "closeBrowser") %>
			<% else %>
				 <%= link_to_if(true, "LDAP", new_ldap_setting_path, :class => "closeBrowser") %>
			<% end %>
		  </span>
        </div>
		<div class="SiteHeaderPanelRow SiteHeaderPanelLink">
          <span class="SiteHeaderPanelHeader">
			<%= link_to "Company info", edit_company_path(current_user.company_id), :class => "closeBrowser" %>
		  </span>
        </div>
      </div>
	</div>
  <% end %>
  
  <% if (current_user.role? :pnetz_admin) && (current_user.email.split('@').last == 'peoplenetz.com') %>
	<%= link_to "Peoplenetz", admin_path, :class => "SiteHeaderBarItem SiteHeaderBarLink" %>
  <% end %>
<% else %>
  <%= logo %>
<% end %>

   <div class="SiteHeaderSignIn">
	<% if user_signed_in? %>
	  Signed in as <%= current_user.email %>
	  <%= link_to "(Sign out)", destroy_user_session_path, :method => :delete, :class => "SiteHeaderBarLink" %>
	<% else %>
      <%= link_to "Request account", new_user_registration_path, :class => "SiteHeaderBarLink" %> or 
	  <%= link_to "log in", new_user_session_path, :class => "SiteHeaderBarLink" %>
	<% end %>


	<!-- BEGIN ProvideSupport.com Graphics Chat Button Code -->
	<div style="float:right;">
	<div id="ciWMjj" style="z-index:100;position:absolute;"></div><div id="scWMjj" style="display:inline"></div><div id="sdWMjj" style="display:none"></div><script type="text/javascript">var seWMjj=document.createElement("script");seWMjj.type="text/javascript";var seWMjjs=(location.protocol.indexOf("https")==0?"https":"https")+"://image.providesupport.com/js/peoplenetz/safe-standard.js?ps_h=WMjj&ps_t="+new Date().getTime();setTimeout("seWMjj.src=seWMjjs;document.getElementById('sdWMjj').appendChild(seWMjj)",1)</script><noscript><div style="display:inline"><a href="https://www.providesupport.com?messenger=peoplenetz">Live Help Chat</a></div></noscript>
	</div>
	<!-- END ProvideSupport.com Graphics Chat Button Code -->
   </div>

  </div>

</header>