<header>
  
  <%= link_to logo %>

  <nav class="round">
    <ul>
	  <li><%= link_to "Me", me_path %></li>
	  <li><%= link_to "Manager", manager_path %></li>
	  <li><%= link_to "HR", hr_path %></li>
	  <li><%= link_to "Admin", company_admin_path %></li>
	  <li><%= link_to "Pnetz", admin_path %></li>
	  <li><%= link_to "Sign out", '#' %></li>
    </ul>


  </nav>
</header>
