<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery.min', 'jquery_ujs', 'autocomplete-rails', 'application' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min', 'jquery.dataTables.min', 'dataTables.fnFindCellRowIndexes' %>
  <%= javascript_include_tag 'jquery.multiselect.min', 'jquery.multiselect.filter'   %>

  
</head>
<body>
    <div class="container">
	 
	  <%= render 'layouts/header' %>
	  
	  <!-- Deleted round CSS class from section tag -->
      <section>
		<div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
		</div>

        <%= yield %>

      </section>
    </div>
</body>
</html>
