<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>
  <%= include_gritter %>

</head>
<body>
  <div id="app_container" class="container">
    <div id="header" >
	  	<%= render 'layouts/header' %>
	</div>
	 
	<div id="main_body" >
     <!-- 
	 <% if user_signed_in? %>
	  <div id="browser_trigger">
    		My Topics -
  	  </div>
	 <% end %>
	 -->
	 <table id="layout_table" >
	  <tr>
	    <td>
		  <div id="container">
		  <% if user_signed_in? %>
			<!-- <td id="browser_col" >-->
			<div id="lLeft">
				<%= render 'layouts/browser' %>
			</div>
			<!-- </td>-->
		  <% end %>
	        <div id="lCenter"><%= yield %></div>
		  </div>
  	    </td>
	  </tr>
	 </table>
		

	</div>

	<div id="footer" >
	  	<%= render 'layouts/footer' %>
	</div>
	  
  </div>
	  
	<%= js extend_gritter :time => 1500 %>
    <% flash.each do |key, value| %>
		<%= js add_gritter(flash[key], :image => key.to_s , :sticky => false, :time => 1500) %>	 
    <% end %>
	<%= gflash %>
	  
</body>
</html>
