<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>

  <%= include_gritter %>

</head>
<body>
    <div class="container">
	  <div id="header" >
	  	<%= render 'layouts/header' %>
	  </div>
	 
	  <section id="main_body" style="width:98%;overflow:auto;border: 1px solid blue;" >
	   <% if user_signed_in? %>
		<div id="browser_trigger">
    		My Topics -
  		</div>
	   	<div id="browser_div" style="height:100%;width: 300px; border: 1px solid red; float: left; padding-right:5px;" >
			<%= render 'layouts/browser' %>
	   	</div>
	   <% end %>

		<div id="main_content_div" style="width: 720px; border: 1px solid red; float: left; padding-left:5px; "  >
          <%= yield %>
		</div>
		<div class="clear"></div>

	  </section>
	  
    </div>
	  
    <% flash.each do |key, value| %>
		<%= js add_gritter(flash[key], :image => key.to_s , :sticky => false) %>	 
    <% end %>
	<%= gflash %>
	  
</body>
</html>
