<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>

  <%= include_gritter %>

</head>
<body>
    <div class="container">
	  <div id="header" >
	  	<%= render 'layouts/header' %>
	  </div>
	 
	   <% if user_signed_in? %>
		<div id="browser_trigger">
    		My Topics -
  		</div>
	   	<div id="browser_div" class="span-8">
			
			<%= render 'layouts/browser' %>
			
	   	</div>
	   <% end %>

		<div id="main_content_div" class="span-18" style="overflow: hidden;">
          <%= yield %>
		</div>
	  
    </div>
	  
    <% flash.each do |key, value| %>
		<%= js add_gritter(flash[key], :image => key.to_s , :sticky => false) %>	 
    <% end %>
	<%= gflash %>
	  
</body>
</html>
