<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery.min', 'jquery.purr', 'best_in_place', 'jquery_ujs', 'autocomplete-rails', 'application' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min', 'jquery.dataTables.min', 'dataTables.fnFindCellRowIndexes' %>
  <%= javascript_include_tag 'jquery.multiselect.min', 'jquery.multiselect.filter'  %>
  <%= javascript_include_tag 'jquery.easing.1.3', 'jquery.hoverIntent.minified', 'jquery.naviDropDown.1.0'  %>

  <%= include_gritter %>

</head>
<body>
    <div class="container">
	  <div id="header" >
	  	<%= render 'layouts/header' %>
	  </div>
	  
	  <!-- Deleted round CSS class from section tag -->
      
		<div id="flash">
        <% flash.each do |key, value| %>
			<%= js add_gritter(flash[key], :image => key.to_s , :sticky => false) %>	 
        <% end %>
		<%= gflash %>
		</div>

		<hr />
		<% if user_signed_in? %>
			<div class="span-8" id="sidebar" >
				<%= render 'layouts/browser' %>
			</div>
		<% end %>

		
		<div class="span-22" id="content">
        	<%= yield %>
		</div>

      
    </div>
</body>
</html>
