<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascripts' %>

  <%= include_gritter %>

</head>
<body>
    <div class="container">
	  <div id="header" >
	  	<%= render 'layouts/header' %>
	  </div>
	  
	  <!-- Deleted round CSS class from section tag -->
      
	  <div id="flash">
        <% flash.each do |key, value| %>
			<%= js add_gritter(flash[key], :image => key.to_s , :sticky => false) %>	 
        <% end %>
		<%= gflash %>
	  </div>
	  
	  <div id="layout_div" class="layout">
	   	<div id="browser_div" class="span-8">
		  <% if user_signed_in? %>
			
			<%= render 'layouts/browser' %>
			
		  <% end %>
	   	</div>

		<div id="main_content_div" class="span-18">
          <%= yield %>
		</div>
	  </div>

      
    </div>
</body>
</html>
